<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCreateOffer()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup] ="formNewOffer">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input 
              autocomplete 
              autocorrect 
              type="text"
              formControlName="title"
              ></ion-input>
          </ion-item>
          <ion-item *ngIf="formNewOffer.get('title').errors?.required && formNewOffer.get('title').touched">
            <ion-label color= "danger">
                El campo es requerido
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Short description</ion-label>
            <ion-textarea rows=3
            formControlName="description"></ion-textarea>
          </ion-item>
          <ion-item *ngIf="formNewOffer.get('description').errors?.required && formNewOffer.get('description').touched">
            <ion-label color= "danger">
                Debe colocar una descripcion
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input type="number"
            formControlName="price"></ion-input>
          </ion-item>
          <ion-item *ngIf="formNewOffer.get('price').errors?.required">
            <ion-label>
                {{ 'fgdg' }}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Available from</ion-label>
            <ion-datetime min="2020-11-01" max="2021-11-01" formControlName="datefrom"></ion-datetime>
          </ion-item>
          <ion-item *ngIf="formNewOffer.get('datefrom').errors?.required">
            <ion-label>
                {{ 'fgdg' }}
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3">
          <ion-item>
            <ion-label position="floating">Available to</ion-label>
            <ion-datetime min="2020-12-01" max="2021-12-01" formControlName="dateto"></ion-datetime>
          </ion-item>
          <ion-item *ngIf="formNewOffer.get('dateto').errors?.required">
            <ion-label>
                {{ 'fgdg' }}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
